{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<h1 align="center">Account Info</h1>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <form class="w-50 needs-validation" id="Account" novalidate>
    <!-- Email Input with Person Icon -->
    <div class="row mb-3 justify-content-center">
      <div class="col-sm-6" style="margin-top: 1%;">
      <h6>First Name</h6>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
          <input type="text" class="form-control" value="{{ current_user.first_name }}" readonly>
          <div class="invalid-feedback">Field Cannot Be Empty</div>
        </div>
      </div>
    </div>

    <!-- Last Name Input with Person Icon -->
    <div class="row mb-3 justify-content-center">
      <div class="col-sm-6">
      <h6>Last Name</h6>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
          <input type="text" class="form-control" value="{{ current_user.last_name }}" readonly>
          <div class="invalid-feedback">Field Cannot Be Empty</div>
        </div>
      </div> 
    </div>

    <!-- Email Input with Envelope Icon -->
    <div class="row mb-3 justify-content-center">
      <div class="col-sm-6">
      <h6>Email Address</h6>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
          <input type="email" class="form-control" value="{{ current_user.email }}" readonly>
          <div class="invalid-feedback">Invalid Email Address</div>
        </div>
      </div>
    </div>

    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-login" data-bs-toggle="modal" data-bs-target="#modal1" id="makeChangeBtn">Make Changes</button>
    </div>
    
    
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" class="needs-validation" id="ModalAccountForm" novalidate>
        <div class="modal-header justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">Edit Account Info</h5>
          <button type="button" class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Email Input with Person Icon -->
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
              <input type="text" class="form-control" name="first_name" id="first_name" value="{{ current_user.first_name }}">
              <div class="invalid-feedback">Field Cannot Be Empty</div>
            </div>
        
            <div class="input-group" style="margin-top: 10px; margin-bottom: 10px;">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
              <input type="text" class="form-control" name="last_name" id="last_name" value="{{ current_user.last_name }}">
              <div class="invalid-feedback">Field Cannot Be Empty</div>
            </div>
            
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
              <input type="text" class="form-control" name="email" id="email" value="{{ current_user.email }}">
              <div class="invalid-feedback">Please Enter A Valid Email Address</div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-signup">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}