{% extends "base.html" %} 
{% block title %}Explore{% endblock %}

{% block content %}
<h1 align="center">Explore</h1>
<div class="container-fluid">
    <div class="row">
        <!-- Left Column (Filter and Search) -->
        <div class="col-lg-2 col-md-2" style="margin-left: 25px; margin-right: 25px;">
            <form method="POST" action="{{ url_for('views.Explore') }}">
                <div class="sticky-top" style="top: 70px;">
                    <div class="card mb-2">
                        <div class="card-body">
                            <!-- Search Bar -->
                            <h5 class="card-title">Search</h5>
                            <input type="text" class="form-control mb-3" name="searchbox" placeholder="Search Recipes..." value="{{ query_string_list[0] }}">
                            
                            <!-- Filter by Tag Section -->
                            <h5 class="card-title d-inline">Filter by <span class="badge badge-tag rounded-pill">Tag</span></h5>
                            
                            <!-- Time of Day Section -->
                            <div class="mb-3">
                                <h6>Time of Day</h6>
                                <ul class="list-group">
                                    <li class="list-group-item"><input type="checkbox" name="is_breakfast" {{ query_string_list[1] }}> Breakfast</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_lunch" {{ query_string_list[2] }}> Lunch</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_dinner" {{ query_string_list[3] }}> Dinner</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_snack" {{ query_string_list[4] }}> Snack</li>
                                </ul>
                            </div>

                            <!-- Type of Food Section -->
                            <div class="mb-3">
                                <h6>Type of Food</h6>
                                <ul class="list-group">
                                    <li class="list-group-item"><input type="checkbox" name="is_appetizer" {{ query_string_list[5] }}> Appetizer</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_entree" {{ query_string_list[6] }}> Entree</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_dessert" {{ query_string_list[7] }}> Dessert</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_sidedish" {{ query_string_list[8] }}> Side Dish</li>
                                </ul>
                            </div>

                            <!-- Type of Cuisine Section -->
                            <div class="mb-3">
                                <h6>Type of Cuisine</h6>
                                <ul class="list-group">
                                    <li class="list-group-item"><input type="checkbox" name="is_italian" {{ query_string_list[9] }}> Italian</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_chinese" {{ query_string_list[10] }}> Chinese</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_mexican" {{ query_string_list[11] }}> Mexican</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_indian" {{ query_string_list[12] }}> Indian</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_american" {{ query_string_list[13] }}> American</li>
                                    <li class="list-group-item"><input type="checkbox" name="is_mediterranean" {{ query_string_list[14] }}> Mediterranean</li>
                                </ul>
                            </div>

                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-primary">Apply Filters</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Right Column (Recipe Cards) -->
        <div class="col-lg-9 col-md-8">
            {% if recipes %}
                <div class="row">
                    {% for recipe in recipes %}
                        <!-- Recipe Card -->
                        <div class="col-lg-3 col-md-6 col-sm-12 py-3">
                            <div class="card w-100 h-100">
                                <img class="card-img-top" src="{{ recipe.image_url }}" alt="No Image">
                                
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ recipe.title }}</h5>
                                    <p class="card-text" style="margin-bottom: 2%;"><strong>Servings:</strong> {{ recipe.serving_size }}</p>
                                    <p class="card-text" style="margin-bottom: 2%;"><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
                                    <p class="card-text"><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>

                                    <div class="d-flex flex-wrap mt-auto">
                                        {% if recipe.is_breakfast %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Breakfast</span>
                                        {% endif %}
                                        {% if recipe.is_lunch %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Lunch</span>
                                        {% endif %}
                                        {% if recipe.is_dinner %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Dinner</span>
                                        {% endif %}
                                        {% if recipe.is_appetizer %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Appetizer</span>
                                        {% endif %}
                                        {% if recipe.is_entree %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Entrée</span>
                                        {% endif %}
                                        {% if recipe.is_dessert %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Dessert</span>
                                        {% endif %}
                                        {% if recipe.is_sidedish %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Side Dish</span>
                                        {% endif %}
                                        {% if recipe.is_italian %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Italian</span>
                                        {% endif %}
                                        {% if recipe.is_chinese %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Chinese</span>
                                        {% endif %}
                                        {% if recipe.is_mexican %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Mexican</span>
                                        {% endif %}
                                        {% if recipe.is_indian %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Indian</span>
                                        {% endif %}
                                        {% if recipe.is_american %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">American</span>
                                        {% endif %}
                                        {% if recipe.is_mediterranean %}
                                            <span class="badge badge-tag rounded-pill me-2 mb-2">Mediterranean</span>
                                        {% endif %}
                                    </div>
                                    <a class="btn btn-success mt-auto" href="{{ url_for('views.RecipeView', recipe_id=recipe.id) }}" role="button">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if not recipes %}
                <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                    <h2 align="center">Looks Like No Recipes Were Found.</h2>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
