{% extends "base.html" %} 
{% block title %}Explore{% endblock %}

{% block content %}
<h1 align="center">Explore</h1>
<hr style="color: white; margin: 0px;">
<div class="container-fluid">
  <div class="row">
    <!-- Left Column (Filter and Search) -->
    <div class="col-lg-2 col-md-2" style="margin-left: 25px; margin-right: 25px; margin-top: 10px;">
      <form class="sticky-top" method="POST" action="{{ url_for('views.Explore') }}" style="top: 30px;">
        <div class="card mb-2" style="box-shadow: 0 0 8px 0 rgba(100, 100, 100, 0.1);">
          <div class="card-body">
            <!-- Search Bar -->
            <h5 class="card-title">Search</h5>
            <input type="text" class="form-control mb-3" name="searchbox" placeholder="Search Recipes..." value="{{ query_string_list[0] }}">
            
            <!-- Filter by Tag Section -->
            <h5 class="card-title d-inline">Filter by <span class="badge badge-tag rounded-pill">Tag</span></h5>
            <hr style="color: white; margin-top: 0px; margin-bottom: 10px;">
            <div class="accordion">
              <!-- Time of Day Section -->
              <div class="accordion-item" id="tags">
                <h6 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Time of Day</button></h6>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#tags">
                  <div class="accordion-body" style="padding: 5px;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><input type="checkbox" name="is_breakfast" {{ query_string_list[1] }}> Breakfast</li>
                      <li class="list-group-item"><input type="checkbox" name="is_lunch" {{ query_string_list[2] }}> Lunch</li>
                      <li class="list-group-item"><input type="checkbox" name="is_dinner" {{ query_string_list[3] }}> Dinner</li>
                      <li class="list-group-item"><input type="checkbox" name="is_snack" {{ query_string_list[4] }}> Snack</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Type of Food Section -->
              <div class="accordion-item">
                <h6 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Type of Dish</button></h6>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#tags">
                  <div class="accordion-body" style="padding: 5px;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><input type="checkbox" name="is_appetizer" {{ query_string_list[5] }}> Appetizer</li>
                      <li class="list-group-item"><input type="checkbox" name="is_entree" {{ query_string_list[6] }}> Entree</li>
                      <li class="list-group-item"><input type="checkbox" name="is_dessert" {{ query_string_list[7] }}> Dessert</li>
                      <li class="list-group-item"><input type="checkbox" name="is_sidedish" {{ query_string_list[8] }}> Side</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Type of Cuisine Section -->
              <div class="accordion-item">
                <h6 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Cuisine</button></h6>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#tags">
                  <div class="accordion-body" style="padding: 5px;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><input type="checkbox" name="is_american" {{ query_string_list[9] }}> American</li>
                      <li class="list-group-item"><input type="checkbox" name="is_chinese" {{ query_string_list[10] }}> Chinese</li>
                      <li class="list-group-item"><input type="checkbox" name="is_indian" {{ query_string_list[11] }}> Indian</li>
                      <li class="list-group-item"><input type="checkbox" name="is_italian" {{ query_string_list[12] }}> Italian</li>
                      <li class="list-group-item"><input type="checkbox" name="is_mediterranean" {{ query_string_list[13] }}> Mediterranean</li>
                      <li class="list-group-item"><input type="checkbox" name="is_mexican" {{ query_string_list[14] }}> Mexican</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <hr style="color: white; margin-top: 0px;">
            <button type="submit" class="btn btn-signup fw-medium">Apply Filters</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Right Column (Recipe Cards) -->
    <div class="col-lg-9 col-md-8">
      {% if recipes %}
        <div class="row">
          {% for recipe in recipes %}
            <!-- Recipe Card -->
            <div class="col-lg-3 col-md-6 col-sm-12 py-2">
              <div class="card w-100 h-100" style="box-shadow: -3px 3px 8px 0 rgba(100, 100, 100, 0.2);">
                <img class="card-img-top" src="{{ recipe.image_url }}" alt="No Image">
                
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title" style="margin-top: -5px;">{{ recipe.title }}</h5>
                  <hr style="margin-top: 0px; margin-bottom: 10px;">
                  <p class="card-text" style="margin-bottom: 2%;"><strong>Servings:</strong> {{ recipe.serving_size }}</p>
                  <p class="card-text" style="margin-bottom: 2%;"><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
                  <p class="card-text" style="margin-bottom: 0%;"><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
                  <a class="stretched-link" href="{{ url_for('views.RecipeView', recipe_id=recipe.id) }}"></a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if not recipes %}
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
          <h2 align="center">Looks Like No Recipes Were Found.</h2>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
