{% extends "base.html" %} {% block title %}ForgotPassword{% endblock %}
{% block content %}
<style>
    .shift-right {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        width: fit-content;
    }
</style>

<h1 align="center">Forgot Your Password?</h1>
<div class="col-sm-6 mx-auto">
    <h4 align="center">~ Don't Worry, Follow These Steps ~</h4>
    <ol class="shift-right">
        <li>Enter Email Address and Submit</li>
        <li>Enter New Password</li>
        <li>Retype New Password To Confirm</li>
        <li>Answer Security Question</li>
        <li>Click Submit</li>
    </ol>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
    <form method="POST" class="w-50 needs-validation" id="ForgotPWForm2" novalidate>
        <!-- Email Input with Envelope Icon -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                    <input type="email" class="form-control" name="email" id="Email" value="{{ email }}" readonly required>
                    <div class="invalid-feedback">Invalid Email Address</div>
                </div>
            </div>
        </div>

        <!-- Password1 Input with Asterisk Icon -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
                    <input type="password" class="form-control" name="password1" id="Password1" placeholder="New Password">
                    <div class="invalid-feedback">Password Must Be At Least 4 Characters</div>
                </div>
            </div>
        </div>

        <!-- Password2 Input with Asterisk Icon -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
                    <input type="password" class="form-control" name="password2" id="Password2" placeholder="Confirm Password">
                    <div class="invalid-feedback">Password Must Be At Least 4 Characters and Match Previous Password</div>
                </div>
            </div>
        </div>

        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <h5 align="center">Your Security Question:</h5>
                <h6 align="center" stlye="margin-top: -5px;">{{ secPrompt }}</h6>
            </div>
        </div>

        <input type="hidden" id="SecurityQuestionInput" name="SecurityQuestionInput" value="{{ secPrompt }}">

        <!-- Security Question Answer -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6" style="margin-top: -15px;">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
                    <input type="SecurityAnswer" class="form-control" name="SecurityAnswer" id="SecurityAnswer" placeholder="Security Question Answer">
                    <div class="invalid-feedback">Field Cannot Be Empty</div>
                </div>
            </div>
        </div>

        <!-- Submit1 button -->
        <div class="d-flex justify-content-center">
            <button type="Log In" class="btn btn-login">Submit</button>
        </div>
    </form>
</div>
<script>
    function SignUpFormValidation(form, event){                
        validatePassword1(form, event)
        validatePassword2(form, event)
        validateSecurityAnswer(form, event)
    }

    function validatePassword1(form, event){
        var password1 = form.elements.Password1.value
        form.elements.Password1.classList.remove('is-valid', 'is-invalid')
        if (password1.length < 4){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.Password1.classList.add('is-invalid')
        }else{
            form.elements.Password1.classList.add('is-valid')
        }

        var password2 = form.elements.Password2.value
        form.elements.Password2.classList.remove('is-valid', 'is-invalid')
        if (password2.length < 4 || (password2 !== password1)){
            form.elements.Password2.classList.add('is-invalid')
        }else{
            form.elements.Password2.classList.add('is-valid')
        }
    }

    function validatePassword2(form, event){
        var password1 = form.elements.Password1.value
        var password2 = form.elements.Password2.value
        form.elements.Password2.classList.remove('is-valid', 'is-invalid')
        if (password2.length < 4 || (password2 !== password1)){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.Password2.classList.add('is-invalid')
        }else{
            form.elements.Password2.classList.add('is-valid')
        }
    }

    function validateSecurityAnswer(form, event){
        var SecurityAnswer = form.elements.SecurityAnswer.value
        form.elements.SecurityAnswer.classList.remove('is-valid', 'is-invalid')
        if (SecurityAnswer === ''){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.SecurityAnswer.classList.add('is-invalid')
        }else{
            form.elements.SecurityAnswer.classList.add('is-valid')
        }
    }

    (() => {
        'use strict'

        const form = document.querySelector('#ForgotPWForm2')
        form.addEventListener('submit', event => SignUpFormValidation(form, event), false)
    })()

    const form = document.querySelector('#ForgotPWForm2')

    {
        const password1 = form.elements.Password1
        password1.addEventListener('input', event => validatePassword1(form, event), false)
    }

    {
        const password2 = form.elements.Password2
        password2.addEventListener('input', event => validatePassword2(form, event), false)
    }

    {
        const SecurityAnswer = form.elements.SecurityAnswer
        SecurityAnswer.addEventListener('input', event => validateSecurityAnswer(form, event), false)
    }
</script>
{% endblock %}