{% extends "base.html" %} {% block title %}ForgotPassword{% endblock %}
{% block content %}
<style>
    .shift-right {
        margin-left: 200px; /* Adjust the value as needed */
    }
</style>

<h1 align="center">Forgot Password</h1>
<div class="col-sm-6 mx-auto">
    <h4 align="center">~ Dont Worry Follow These Steps ~</h4>
    <ol class="shift-right">
        <li>Enter Email Address Associated With Account</li>
        <li>Click Submit Button</li>
            <ul>
                <li>If An Error Message Shows That Means The Email Provided Does Not Have An Account</li>
            </ul>
        <li>Enter New Password</li>
        <li>Retype New Password To Confirm</li>
        <li>Answer Security Question With Answer Provided During Account Creation</li>
        <li>Click Submit Again</li>
    </ol>
    <p align="center">If You See The Message Saying Success, Viola Done! Password Changed.</p>
    <p align="center">If You See The Message Saying Error, Then You Will Need To Retry.</p>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
    <form method="POST" class="w-50 needs-validation" id="ForgotPWForm1" novalidate>
        <!-- Email Input with Envelope Icon -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                    <input type="email" class="form-control" name="email" id="Email" placeholder="Email">
                    <div class="invalid-feedback">Invalid Email Address</div>
                </div>
            </div>
        </div>

        <!-- Submit1 button -->
        <div class="d-flex justify-content-center">
            <button type="Log In" class="btn btn-login">Submit</button>
        </div>
    </form>
</div>

<script>
    function LogInFormValidation(form, event){                
        validateEmail(form, event)
    }
  
    function validateEmail(form, event){
        const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/
        
        var email = form.elements.Email.value
        form.elements.Email.classList.remove('is-valid', 'is-invalid')
        if (!emailRegex.test(email)){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.Email.classList.add('is-invalid')
        }else{
            form.elements.Email.classList.add('is-valid')
        }
    }
  
    (() => {
        'use strict'
  
        const form = document.querySelector('#ForgotPWForm1')
        form.addEventListener('submit', event => LogInFormValidation(form, event), false)
    })()
  
    const form = document.querySelector('#ForgotPWForm1')
  
    {
        const email = form.elements.Email
        email.addEventListener('input', event => validateEmail(form, event), false)
    }
  
</script>
{% endblock %}