{% extends "base.html" %} 
{% block title %}RecipeView{% endblock %}

{% block content %}

{% if not recipe %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <h2 align="center">Whoops! Looks like this Recipe was not found.</h2>
  </div>
{% else %}
  <div class="container-fluid">
    <div class="row">
      <!-- Left Column: Spacer -->
      <div class="col-lg-1 col-md-1 col-sm-1 py-3" style="padding-left: 55px;">
        <button type="button" class="btn btn-gray rounded-pill fw-medium" onclick="history.back()">
          <i class="bi bi-chevron-left" style="font-size: 1.1rem; vertical-align: middle;"></i>
        </button>
      </div>

      <!-- Middle Column: Recipe -->
      <div class="col-lg-7 col-md-7 col-sm-12 py-3" style="margin-left: 25px; margin-right: 25px;">
        <!-- Card: Image and Details -->
        <div class="card-group" style="margin-bottom: 25px; box-shadow: -3px 3px 10px 0 rgba(100, 100, 100, 0.15);">
          <!-- Image -->
          <div class="card">
            <div class="card-body">
              <img src="{{ recipe.image_url }}" class="img-fluid rounded-start rounded-end" alt="No Image">
            </div>
          </div>
            
          <!-- Details -->
          <div class="card">
            <!-- Servings, Prep Time, Cook Time -->
            <div class="card-body">
              <h2 class="card-title">{{ recipe.title }}</h2>
              <hr>
              <p class="mb-1" style="font-size: 1.2rem;"><strong>Servings:</strong> {{ recipe.serving_size }}</p>
              <p class="mb-1" style="font-size: 1.2rem;"><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
              <p class="mb-1" style="font-size: 1.2rem;"><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
              <button type="button" class="btn btn-signup fw-medium" data-bs-toggle="modal" data-bs-target="#modal1" id="addCookbookBtn" style="margin-top: 8px;">Add To Cookbook</button>
            </div>

            <!-- Tags -->
            <div class="card-footer d-flex flex-wrap" style="padding-bottom: 0%; padding-left: 10px;">
              {% if recipe.is_breakfast %}
                <h5><span class="badge badge-tag rounded-pill me-2">Breakfast</span></h5>
              {% endif %}
              {% if recipe.is_lunch %}
                <h5><span class="badge badge-tag rounded-pill me-2">Lunch</span></h5>
              {% endif %}
              {% if recipe.is_dinner %}
                <h5><span class="badge badge-tag rounded-pill me-2">Dinner</span></h5>
              {% endif %}
              {% if recipe.is_snack %}
                <h5><span class="badge badge-tag rounded-pill me-2">Snack</span></h5>
              {% endif %}
              {% if recipe.is_appetizer %}
                <h5><span class="badge badge-tag rounded-pill me-2">Appetizer</span></h5>
              {% endif %}
              {% if recipe.is_entree %}
                <h5><span class="badge badge-tag rounded-pill me-2">Entrée</span></h5>
              {% endif %}
              {% if recipe.is_dessert %}
                <h5><span class="badge badge-tag rounded-pill me-2">Dessert</span></h5>
              {% endif %}
              {% if recipe.is_sidedish %}
                <h5><span class="badge badge-tag rounded-pill me-2">Side Dish</span></h5>
              {% endif %}
              {% if recipe.is_american %}
                <h5><span class="badge badge-tag rounded-pill me-2">American</span></h5>
              {% endif %}
              {% if recipe.is_chinese %}
                <h5><span class="badge badge-tag rounded-pill me-2">Chinese</span></h5>
              {% endif %}
              {% if recipe.is_indian %}
                <h5><span class="badge badge-tag rounded-pill me-2">Indian</span></h5>
              {% endif %}
              {% if recipe.is_italian %}
                <h5><span class="badge badge-tag rounded-pill me-2">Italian</span></h5>
              {% endif %}
              {% if recipe.is_mediterranean %}
                <h5><span class="badge badge-tag rounded-pill me-2">Mediterranean</span></h5>
              {% endif %}
              {% if recipe.is_mexican %}
                <h5><span class="badge badge-tag rounded-pill me-2">Mexican</span></h5>
              {% endif %}
            </div>
          </div>
        </div> <!-- end card -->

        <!-- Ingredients -->
        <div class="card mb" style="margin-bottom: 25px; box-shadow: -3px 3px 10px 0 rgba(100, 100, 100, 0.15);">
          <div class="card-header text-white" style="background-color: #ffaf3f;"></div>
          <div class="card-body">
            <h3>Ingredients</h3>
            <ul>
              {% for ingredient in ingredient_list %}
                <li style="color: #ff9900; font-size: large; margin-bottom: -4px;"><h6><span style="color: #000">{{ ingredient }}</span></h6></li>
              {% endfor %}
            </ul>

            <!-- Optional Ingredients/Toppings -->
            {% if opt_ingredient_list[0] != "-" %}
              <h3 style="margin-top: 30px;">Optional Ingredients / Toppings</h3>
              <ul>
                {% for opt_ingredient in opt_ingredient_list %}
                  <li style="color: #ff9900; font-size: large; margin-bottom: -4px;"><h6><span style="color: #000">{{ opt_ingredient }}</span></h6></li>
                {% endfor %}
              </ul>         
            {% endif %}

          </div>
        </div>

        <!-- Directions -->
        <h3>Directions</h3>
        <ol>
          {% for instruction in instruction_list %}
            <li style="color: #ff9900; font-weight: bold; margin-bottom: 15px;"><h6><span class="lh-base" style="color: #000;">{{ instruction }}</span></h6></li>
          {% endfor %}
        </ol>
      </div> <!-- end Middle Column -->
          
      <!-- Right Column (Where Notes would go for logged in users)-->
      <div class="col-lg-3 col-md-3 col-sm-12 py-3">
        <div class="sticky-top" style="padding-top: 25px">
          <h5>Want to add some <span class="badge badge-tag rounded-pill"><i class="bi bi-stickies" style="padding-right: 5px;"></i>Notes</span>?</h5>
          <h5 class="lh-base" style="margin-top: 20px;">Make sure you're logged in, and add this recipe to a <span class="badge badge-tag rounded-pill"><i class="bi bi-journal-plus" style="padding-right: 5px;"></i>Cookbook</span>!</h5>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" class="needs-validation" id="ModalAddCookbookForm" novalidate>
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Add to Cookbooks</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-5">
          {% if current_user.is_authenticated %}
            <!-- Email Input with Person Icon -->
            {% if current_user.cookbooks %}
              <ul class="list-group">
                {% for cb in current_user.cookbooks %}
                  <li class="list-group-item" style="background-color: #F2F2F2">
                    <input class="me-1" type="checkbox" name="{{ cb.id }}">{{ cb.title }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <p>You need a Cookbook to save a Recipe!</p>
              <p>Create and manage your Cookbooks here:</p>
              <a class="btn btn-login mt-auto" href="{{ url_for('views.Cookbooks') }}" role="button">My Cookbooks</a>
            {% endif %}
          {% else %}
            <p style="margin-bottom: 8px; justify-self: center;">Log in to add this Recipe to your Cookbooks!</p>
            <a class="btn btn-login" href="{{ url_for('auth.login') }}" role="button" style="margin-left: 196px;">Log In</a>
            <p style="margin-bottom: 8px; margin-top: 20px; justify-self: center;">Don't have an account? Sign up here!</p>
            <a class="btn btn-signup" href="{{ url_for('auth.sign_up') }}" role="button" style="margin-left: 190px;">Sign Up</a>
          {% endif %}
        </div>
        {% if current_user.is_authenticated and current_user.cookbooks %}
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Cancel</button>
          <button type="Submit" class="btn btn-signup">Add</button>
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>


{% endif %}

{% endblock %}