{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container-lg">
    <div align="center" class="row">
        <h1>Sign Up</h1>
    </div>
    <div class="col-5">
        <form class="row">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}