{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
{% block content %}
<h1 align="center">Sign Up</h1>
<div class="container-fluid d-flex justify-content-center align-items-center">
    <form method="POST" class="w-50 needs-validation" id="SignUpForm" novalidate>
        <!-- First Name Input with Person Icon -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6" style="margin-top: 1%;">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    <input type="text" class="form-control" name="firstname" id="FirstName" placeholder="First Name">
                    <div class="invalid-feedback">Field Cannot Be Empty</div>
                </div>
            </div>
        </div>

        <!-- Last Name Input with Person Icon -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    <input type="text" class="form-control" name="lastname" id="LastName" placeholder="Last Name">
                    <div class="invalid-feedback">Field Cannot Be Empty</div>
                </div>
            </div> 
        </div>

        <!-- Email Input with Envelope Icon -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                    <input type="email" class="form-control" name="email" id="Email" placeholder="Email">
                    <div class="invalid-feedback">Invalid Email Address</div>
                </div>
            </div>
        </div>

        <!-- Won't Share Your Email Blurb -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6" style="margin-top: -15px; margin-bottom: -10px;">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
        </div>
        
        <!-- Password1 Input with Asterisk Icon -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
                    <input type="password" class="form-control" name="password1" id="Password1" placeholder="Password">
                    <div class="invalid-feedback">Password Must Be At Least 4 Characters</div>
                </div>
            </div>
        </div>

        <!-- Password2 Input with Asterisk Icon -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
                    <input type="password" class="form-control" name="password2" id="Password2" placeholder="Confirm Password">
                    <div class="invalid-feedback">Password Must Be At Least 4 Characters and Match Previous Password</div>
                </div>
            </div>
        </div>
        
        <!-- Security Question -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6" style="margin-top: -15px; margin-bottom: -10px;">
                <div id="emailHelp" class="form-text">Select and answer a Security Question, in case you forget your password.</div>
            </div>
        </div>
        <div class="dropdown row mb-3 justify-content-center">
            <div class="col-sm-6">
                <button id="SecurityQuestionBtn" class="btn btn-light dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">Security Question</button>
                <ul class="dropdown-menu w-100" id="SecurityQuestionDropdownList">
                    <li><button class="dropdown-item" type="button" onclick="setSecurityQuestion(this)">Name of the street you grew up on</button></li>
                    <li><button class="dropdown-item" type="button" onclick="setSecurityQuestion(this)">Mother's maiden name</button></li>
                    <li><button class="dropdown-item" type="button" onclick="setSecurityQuestion(this)">Name of your favorite childhood pet</button></li>
                    <li><button class="dropdown-item" type="button" onclick="setSecurityQuestion(this)">Title of your favorite movie</button></li>
                </ul>
                <div id="securityQuestionError" name="securityQuestionError" class="invalid-feedback" style="display:none;">Please choose a security question.</div>
            </div>
        </div>

        <input type="hidden" id="SecurityQuestionInput" name="SecurityQuestionInput" value="">

        <!-- Security Question Answer -->
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
                    <input type="SecurityAnswer" class="form-control" name="SecurityAnswer" id="SecurityAnswer" placeholder="Security Question Answer">
                    <div class="invalid-feedback">Field Cannot Be Empty</div>
                </div>
            </div>
        </div>

        <!-- Sign Up button -->
        <div class="d-flex justify-content-center">
            <button type="Sign Up" class="btn btn-signup">Sign Up</button>
        </div>
    </form>
</div>


<script>
    function setSecurityQuestion(button){
        var prompt = document.getElementById('SecurityQuestionBtn').innerText = button.innerText;
        if (prompt === "Name of the street you grew up on"){
            document.getElementById('SecurityQuestionInput').value = "1";
        }else if (prompt === "Mother's maiden name"){
            document.getElementById('SecurityQuestionInput').value = "2";
        }else if (prompt === "Name of your favorite childhood pet"){
            document.getElementById('SecurityQuestionInput').value = "3";
        }else if (prompt === "Title of your favorite movie"){
            document.getElementById('SecurityQuestionInput').value = "4";
        }

        var SecurityPrompt = document.getElementById('SecurityQuestionInput').value

        if (SecurityPrompt === ''){
            document.getElementById('securityQuestionError').style.display = 'block'
        }else{
            document.getElementById('securityQuestionError').style.display = 'none'
        }
    }


    function SignUpFormValidation(form, event){                
        validateFirstName(form, event)
        validateLastName(form, event)
        validateEmail(form, event)
        validatePassword1(form, event)
        validatePassword2(form, event)
        validateSecurityAnswer(form, event)
        validateSecurityPrompt(form, event)
    }

    function validateFirstName(form, event){
        var first_name = form.elements.FirstName.value
        form.elements.FirstName.classList.remove('is-valid', 'is-invalid')
        if (first_name === ''){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.FirstName.classList.add('is-invalid')
        }else{
            form.elements.FirstName.classList.add('is-valid')
        }
    }

    function validateLastName(form, event){
        var last_name = form.elements.LastName.value
        form.elements.LastName.classList.remove('is-valid', 'is-invalid')
        if (last_name === ''){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.LastName.classList.add('is-invalid')
        }else{
            form.elements.LastName.classList.add('is-valid')
        }
    }

    function validateEmail(form, event){
        const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/
        
        var email = form.elements.Email.value
        form.elements.Email.classList.remove('is-valid', 'is-invalid')
        if (!emailRegex.test(email)){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.Email.classList.add('is-invalid')
        }else{
            form.elements.Email.classList.add('is-valid')
        }
    }

    function validatePassword1(form, event){
        var password1 = form.elements.Password1.value
        form.elements.Password1.classList.remove('is-valid', 'is-invalid')
        if (password1.length < 4){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.Password1.classList.add('is-invalid')
        }else{
            form.elements.Password1.classList.add('is-valid')
        }
    }

    function validatePassword2(form, event){
        var password1 = form.elements.Password1.value
        var password2 = form.elements.Password2.value
        form.elements.Password2.classList.remove('is-valid', 'is-invalid')
        if (password2.length < 4 || (password2 !== password1)){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.Password2.classList.add('is-invalid')
        }else{
            form.elements.Password2.classList.add('is-valid')
        }
    }

    function validateSecurityAnswer(form, event){
        var SecurityAnswer = form.elements.SecurityAnswer.value
        form.elements.SecurityAnswer.classList.remove('is-valid', 'is-invalid')
        if (SecurityAnswer === ''){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            form.elements.SecurityAnswer.classList.add('is-invalid')
        }else{
            form.elements.SecurityAnswer.classList.add('is-valid')
        }
    }

    function validateSecurityPrompt(form, event){
        var SecurityPrompt = document.getElementById('SecurityQuestionInput').value
        if (SecurityPrompt === ''){
            if (event.type === 'submit'){
                event.preventDefault()
                event.stopPropagation()
            }
            document.getElementById('securityQuestionError').style.display = 'block'
        }else{
            document.getElementById('securityQuestionError').style.display = 'none'
        }
    }

    (() => {
        'use strict'

        const form = document.querySelector('#SignUpForm')
        form.addEventListener('submit', event => SignUpFormValidation(form, event), false)
    })()

    const form = document.querySelector('#SignUpForm')

    {
        const firstName = form.elements.FirstName
        firstName.addEventListener('input', event => validateFirstName(form, event), false)
    }

    {
        const lastName = form.elements.LastName
        lastName.addEventListener('input', event => validateLastName(form, event), false)
    }

    {
        const email = form.elements.Email
        email.addEventListener('input', event => validateEmail(form, event), false)
    }

    {
        const password1 = form.elements.Password1
        password1.addEventListener('input', event => validatePassword1(form, event), false)
    }

    {
        const password2 = form.elements.Password2
        password2.addEventListener('input', event => validatePassword2(form, event), false)
    }

    {
        const SecurityAnswer = form.elements.SecurityAnswer
        SecurityAnswer.addEventListener('input', event => validateSecurityAnswer(form, event), false)
    }

</script>

{% endblock %}